<style>
            html{
                font-size: 22px;

            }
            body{
                background-color: chocolate;
                color:black;
            }
            </style>